*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4f4f4;
  color:#222;
}

/* LOGIN */
.container{
  width:350px;
  background:white;
  margin:50px auto;
  padding:30px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.auth-box h1{
  text-align:center;
  margin-bottom:20px;
}

.logo-box{
  text-align:center;
  margin-bottom:20px;
}

.logo-box img{
  width:120px;
}

input, select{
  width:100%;
  padding:10px;
  margin-top:5px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:5px;
}

button{
  padding:10px 15px;
  border:none;
  background:#111827;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

button:hover{
  background:#374151;
}

.secondary-btn{
  width:100%;
  margin-top:10px;
}

.dashboard{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:220px;
  background:#111827;
  color:white;
  padding:20px;
}

.sidebar h2{
  margin-bottom:30px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  margin:15px 0;
}

.sidebar a{
  color:white;
  text-decoration:none;
}

.content{
  flex:1;
  padding:20px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  margin-bottom:30px;
}

.topbar input{
  width:70%;
}

.card-grid{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.card,
.project-card,
.payment-box{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
  margin-top:20px;
}

.page{
  padding:40px;
}

.filters{
  display:flex;
  gap:10px;
  margin:20px 0;
}

.btn-group{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.profile-box{
  display:flex;
  gap:20px;
  align-items:center;
  background:white;
  padding:20px;
  border-radius:10px;
  margin-top:20px;
}

.avatar{
  width:80px;
  height:80px;
  border-radius:50%;
  background:#ccc;
}

.add-btn{
  margin-top:20px;
}

.back-btn{
  display:inline-block;
  margin-top:30px;
  text-decoration:none;
  color:#111827;
  font-weight:bold;
}

.chat-page{
  display:flex;
  height:100vh;
}

.chat-sidebar{
  width:250px;
  background:#111827;
  color:white;
  padding:20px;
}

.user{
  background:#374151;
  padding:10px;
  margin-top:10px;
  border-radius:5px;
}

.chat-content{
  flex:1;
  display:flex;
  flex-direction:column;
}

.messages{
  flex:1;
  padding:20px;
}

.message{
  background:#e5e7eb;
  padding:15px;
  border-radius:10px;
  width:300px;
}

.chat-input{
  display:flex;
  padding:20px;
  background:white;
  gap:10px;
}

.chat-input input{
  flex:1;
}